/* ---------------------- 
Stylesheet Guide
-------------------------

GENERAL
CURSOR
NODE
CLICK
POINTERS
-- POINTER ICON
-- POINTER SIMPLE
-- POINTER IMAGE
-- POINTER MIX-BLEND
-- POINTER MIX-BLEND-2
-- POINTER PULSE
-- POINTER 1
-- POINTER 2
-- POINTER 3
-- POINTER 4
-- POINTER 5
-- POINTER 6

*/

/* ================= GENERAL ================== */

.tm-cursor-none,
.tm-cursor-none * {
  cursor: none !important;
}

body.tm-cursor-none #wpadminbar,
body.tm-cursor-none #wpadminbar * {
  cursor:pointer !important;
}

/* ================= CURSOR ================== */

.tm-cursor {
  pointer-events: none;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
  visibility: hidden;
}

.tm-cursor.moving {
  opacity: 1;
}

.tm-cursor:before {
  pointer-events: none;
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999;
  transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
}

/* ================= NODE ================== */

.tm-node {
  pointer-events: none;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
  visibility: hidden;
}

.tm-node.moving {
  opacity: 1;
}

.tm-node:before {
  pointer-events: none;
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
}

/* ================= CLICK ================== */

.tm-click {
  pointer-events: none;
  height:2px;
  width:2px;
  border-radius:100%;
  position:fixed;
  background:transparent;
  z-index: 99999999;
}

.tm-click-dark {
  animation:tm-sploosh-dark 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tm-click-light {
  animation:tm-sploosh-light 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes tm-sploosh-dark {
  0% {
    box-shadow:0 0 0 0px rgba(0,0,0,0.2);
    background:rgba(0,0,0,0.2);
  }
  100% {
    box-shadow:0 0 0 80px rgba(0,0,0,.0);
    background:rgba(0,0,0,.0);
  }
}

@keyframes tm-sploosh-light {
  0% {
    box-shadow:0 0 0 0px rgba(255,255,255,0.2);
    background:rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:0 0 0 80px rgba(255,255,255,0);
    background:rgba(255,255,255,0);
  }
}

/* ================= POINTER ICON ================== */

.tm-pointer-icon.tm-cursor {
  width: 16px;
  height: 16px;
}

.tm-pointer-icon.tm-cursor i {
  font-size: 16px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1;
  color: #000;
}

.tm-pointer-icon.tm-cursor:before {
  display: none;
}

.tm-pointer-icon.tm-node {
  width: 32px;
  height: 32px;
}

.tm-pointer-icon.tm-node:before {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000;
  transform: scale(1.5) translateZ(0);
}

.tm-pointer-icon.tm-node.tm-expand:before {
  transform: scale(3) translateZ(0);
  background-color: rgba(0,0,0,0.2);
  border-color: transparent;
}

/* ================= POINTER SIMPLE ================== */

.tm-pointer-simple.tm-cursor {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: scale(1) translateZ(0);
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
  border:2px solid #000;
  background-color:rgba(255,255,255,0.1);
}

.tm-pointer-simple.tm-cursor.tm-expand {
  transform: scale(2.5) translateZ(0);
}

.tm-pointer-simple.tm-cursor:before,
.tm-pointer-simple.tm-node,
.tm-pointer-simple.tm-node:before {
  display: block;
}

/* ================= POINTER IMAGE ================== */

.tm-pointer-img.tm-cursor {
  width: 32px;
  height: auto;
}

.tm-pointer-img.tm-cursor img {
  width:32px;
  height:auto;
  vertical-align: bottom;
  border:none !important;
  border-radius: 0 !important;
  box-shadow:none !important;
  outline: none !important;
  transform: translateY(0) translateX(0) translateZ(0);
}

.tm-pointer-img.tm-cursor:before {
  display: none;
}

.tm-pointer-img.tm-node {
  width: 96px;
  height: 96px;
}

.tm-pointer-img.tm-node:before {
  border-radius: 50%;
  opacity:0;
  transform: scale(0) translateZ(0);
}

.tm-pointer-img.tm-node.tm-expand:before {
  transform: scale(1) translateZ(0);
  background-color: rgba(0,0,0,0.2);
  border:none;
  opacity:1;
}

/* ================= POINTER MIX-BLEND ================== */

.tm-pointer-mix-blend.tm-cursor {
  width: 32px;
  height: 32px;
  mix-blend-mode: difference;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(1) translateZ(0);
}

.tm-pointer-mix-blend.tm-cursor.tm-expand {
  transform: scale(2.5) translateZ(0);
}

.tm-pointer-mix-blend.tm-node,
.tm-pointer-mix-blend.tm-node:before,
.tm-pointer-mix-blend.tm-cursor:before {
  display: none;
}

/* ================= POINTER PULSE ================== */

.tm-pointer-pulse.tm-cursor {
  width: 20px;
  height: 20px;
  transform: scale(1) translateZ(0);
	animation: tm-pulse-black 2s infinite;
  background-color:#000;
  border-radius: 50%;
}

.tm-pointer-pulse.tm-cursor.tm-expand {
  background-color:#cc0000;
}

.tm-pointer-pulse.tm-node,
.tm-pointer-pulse.tm-node:before,
.tm-pointer-pulse.tm-cursor.tm-expand:before {
  display: none;
}

@keyframes tm-pulse-black {
	0% {
		transform: scale(0.9) translateZ(0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1) translateZ(0);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.9) translateZ(0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes tm-pulse-white {
	0% {
		transform: scale(0.9) translateZ(0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1) translateZ(0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.9) translateZ(0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}


/* ================= POINTER 1 ================== */

.tm-pointer-1.tm-cursor {
  width: 10px;
  height: 10px;
}

.tm-pointer-1.tm-cursor:before {
  background-color: #000;
  border-radius: 50%;
  opacity: 1;
}

.tm-pointer-1.tm-cursor.tm-expand:before {
  opacity: 0;
  transform: scale(2) translateZ(0);
}

.tm-pointer-1.tm-node {
  width: 30px;
  height: 30px;
}

.tm-pointer-1.tm-node:before {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000;
  transform: scale(1.5) translateZ(0);
}

.tm-pointer-1.tm-node.tm-expand:before {
  transform: scale(3) translateZ(0);
  background-color: rgba(0,0,0,0.2);
  border:none;
}

/* ================= POINTER 2 ================== */

.tm-pointer-2.tm-cursor {
  width: 18px;
  height: 18px;
  z-index: 999999999;
  transform: scale(1) translateZ(0);
}

.tm-pointer-2.tm-cursor:before {
  background-color: #000;
  border-radius: 50%;
  z-index: 999999999;
}

.tm-pointer-2.tm-cursor.tm-expand:before {
  transform: scale(4) translateZ(0);
  background-color: rgba(0,0,0,0.2);
}

.tm-pointer-2.tm-node {
  width: 9px;
  height: 9px;
  z-index: 9999999999;
  transform: scale(1) translateZ(0);
}

.tm-pointer-2.tm-node:before {
  border-radius: 50%;
  background-color: #000;
  transform: scale(1) translateZ(0);
  z-index: 9999999999;
}

.tm-pointer-2.tm-node.tm-expand:before {
  transform: scale(2) translateZ(0);
}

/* ================= POINTER 3 ================== */

.tm-pointer-3.tm-cursor {
  opacity: 0;
  width: 8px;
  height: 8px;
}

.tm-pointer-3.tm-cursor.moving {
  opacity: 1;
}

.tm-pointer-3.tm-cursor:before {
  background-color: transparent;
  border-radius: 50%;
  background-color: #000;
  transform: scale(1.5) translateZ(0);
}

.tm-pointer-3.tm-cursor.tm-expand:before {
  transform: scale(3) translateZ(0);
}

.tm-pointer-3.tm-node {
  width: 32px;
  height: 32px;
}

.tm-pointer-3.tm-node:before {
  background-color: rgba(0,0,0,0.2);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transform: scale(1.5) rotate(0deg) translateZ(0);
}

.tm-pointer-3.tm-node.tm-expand:before {
  transform: scale(3) rotate(-360deg) translateZ(0);
}

/* ================= POINTER 4 ================== */

.tm-pointer-4.tm-cursor {
  width: 10px;
  height: 10px;
}

.tm-pointer-4.tm-cursor:before {
  background-color: #000;
  border-radius: 0;
  opacity: 1;
  transform: scale(1) translateZ(0);
}

.tm-pointer-4.tm-cursor.tm-expand:before {
  opacity: 0;
  transform: scale(2) translateZ(0);
}

.tm-pointer-4.tm-node {
  width: 20px;
  height: 20px;
}

.tm-pointer-4.tm-node:before {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #000;
  transform: scale(1.5) rotate(0deg) translateZ(0);
}

.tm-pointer-4.tm-node.tm-expand:before {
  transform: scale(3.5) rotate(-360deg) translateZ(0);
  background-color: rgba(0,0,0,0.2);
  border-color:transparent;
}

/* ================= POINTER 5 ================== */

.tm-pointer-5.tm-cursor {
  width: 18px;
  height: 18px;
}

.tm-pointer-5.tm-cursor:before {
  background-color: #000;
  transform: scale(1) rotate(45deg) translateZ(0);
}

.tm-pointer-5.tm-cursor.tm-expand:before {
  transform: scale(1) rotate(-315deg) translateZ(0);
}

.tm-pointer-5.tm-node {
  width: 9px;
  height: 9px;
  transform:translateX(-240%) translateZ(0);
}

.tm-pointer-5.tm-node.tm-expand {
  transform:translateX(0) translateZ(0);
}

.tm-pointer-5.tm-node:before {
  background-color: #000;
  transform: scale(1) rotate(45deg) translateZ(0);
}

.tm-pointer-5.tm-node.tm-expand:before {
  transform: scale(8) rotate(315deg) translateZ(0);
  background-color: rgba(0,0,0,0.2);
}

/* ================= POINTER 6 ================== */

.tm-pointer-6.tm-cursor {
  width: 9px;
  height: 9px;
  transform: scale(1) translateZ(0);
}

.tm-pointer-6.tm-cursor:before {
  background-color: #000;
  transform: scale(1) rotate(45deg) translateZ(0);
}

.tm-pointer-6.tm-cursor.tm-expand:before {
  transform: scale(1.5) rotate(315deg) translateZ(0);
}

.tm-pointer-6.tm-node {
  width: 36px;
  height: 36px;
}

.tm-pointer-6.tm-node:before {
  transform: scale(1) rotate(45deg) translateZ(0);
  border:1px solid #000;
  background-color: transparent;
}

.tm-pointer-6.tm-node.tm-expand:before {
  transform: scale(2) rotate(315deg) translateZ(0);
  background-color: rgba(0,0,0,0.2);
  border-color:transparent;
}