._199qdl71 {
  opacity: 0.72;
  overflow: hidden;
  z-index: 1038;
}
._1jcz50r1 {
  scrollbar-width: none;
}
._1jcz50r1::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  ._1jcz50r3 {
    width: 360px;
    height: calc(100vh - 72px);
  }
}
._1kuawc1 {
  margin-left: -4px;
  margin-right: -4px;
}
._1kuawc1:hover {
  background: var(--genie-colors-deprecated_stateOverlayHover);
}
._1kuawc7 {
  filter: grayscale(100%);
}
._1kuawc9 {
  line-height: 24px;
}
._1kuawcb {
  line-height: 24px;
}
.hwks9j1 {
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  scrollbar-width: none;
}
.hwks9j1::-webkit-scrollbar {
  display: none;
}
.hwks9j3 {
  box-shadow: var(--rgw6ezj);
  box-sizing: border-box;
}
.hwks9j7 {
  line-height: 25px;
}
.hwks9j9 {
  bottom: 42px;
  margin-top: -2px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hwks9jb {
  line-height: 13px;
  letter-spacing: 0.04em;
}
.hwks9jd {
  line-height: 18px;
}
.hwks9jf {
  height: min;
  scrollbar-width: none;
}
.hwks9jf::-webkit-scrollbar {
  display: none;
}
.hwks9jh {
  height: auto;
  width: auto;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
}
.hwks9jk {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--genie-colors-surface1) 100%);
  width: 576px;
  height: 20px;
  margin-left: 32px;
  margin-top: -20px;
}
.hwks9jm {
  line-height: 18px;
}
.hwks9jq {
  left: calc(50% - 107px);
  width: 214px;
  line-height: 18px;
  border-radius: 100px;
  margin-top: 15px;
}
.hwks9js {
  box-shadow: var(--rgw6ezj);
  padding-bottom: 68px;
}
.hwks9ju {
  line-height: 20px;
  margin-top: 2px;
}
.hwks9jw {
  line-height: 18px;
}
.hwks9jy {
  line-height: 15px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.hwks9j10 {
  max-height: 152px;
  scrollbar-width: none;
}
.hwks9j10::-webkit-scrollbar {
  display: none;
}
.hwks9j12 {
  box-sizing: border-box;
  border: 2px solid var(--genie-colors-surface1);
  filter: grayscale(100%);
}
.hwks9j14 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--genie-colors-surface1) 100%);
  height: 30px;
  margin-right: 18px;
  margin-top: -20px;
}
.hwks9j16 {
  box-shadow: var(--rgw6ezj);
  width: 344px;
}
.hwks9j18 {
  width: 276px;
  line-height: 18px;
  border-radius: 100px;
}
.hwks9j1c {
  margin-bottom: 22px;
  line-height: 18px;
}
.hwks9j1e {
  overflow: auto;
  max-height: 210px;
  min-height: 58px;
}
.hwks9j1f {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--genie-colors-surface1) 100%);
  width: 266px;
  height: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  position: relative;
}
.hwks9j1j {
  box-sizing: border-box;
  border: 2px solid var(--genie-colors-surface1);
  margin-left: -16px;
  filter: grayscale(100%);
}
.hwks9j1l {
  font-style: normal;
  line-height: 18px;
}
.hwks9j1n {
  font-style: normal;
  line-height: 15px;
}
.hwks9j1o {
  height: 48px;
  width: 48px;
  flex-shrink: 0;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hwks9j1q {
  box-sizing: border-box;
  filter: grayscale(100%);
}
.hwks9j1s {
  margin-top: 7px;
}
.hwks9j1t {
  transform: rotate(180deg);
}
@media screen and (min-width: 656px) {
  .hwks9j1 {
    margin-left: -320px;
  }
  .hwks9j3 {
    min-width: 640px;
  }
  .hwks9js {
    min-width: 640px;
    padding-bottom: 32px;
  }
}

/*# sourceMappingURL=1981.1367cb45.chunk.css.map*/